html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
}

#app{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}